<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <title>Online Log Reader</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="styles/layout.css" type="text/css">
   </head>
   <body>
      <div class="wrapper row1">
         <header id="header" class="clear">
            <h1>Online Log Reader</h1>
         </header>
      </div>

      <div class="wrapper row2">
         <div id="container" class="clear">
            <div id="col1">
               <h1>Assignment (Backend / Full stack)</h1>
               <img class="imgr" src="images/imgl.gif" alt="" width="125" height="125">
               <ul>
                  <p class="bold">Feature Requirement :</p>
                  <li>It should read text from a file from a file which is present on the server and show it on the client side. </li>
                  <li>The text file should be on the server side.</li>
                  <li>Additions to the file will always be in append mode , viz. only new lines will added, no previously written element will change.</li>
                  <li>Any addition on the file should be replicated on the client side</li>
                  <li>The process of showing up any new change in the file to the server should be as realtime as possible</li>
               </ul>
               <p class="center">INITO</p>
            </div>
            <div id="col2">
               <ul class="nostart">
                  <li>A log file is a computer-generated data file that contains information about usage patterns, activities, and operations within an operating system, application, server or another device, and is the primary data source for network observability.</li>
                  <li>Data logging is the process of capturing, </li>
                  <li>storing and displaying one or more datasets to analyze activity, identify trends and help predict future events.</li>
               </ul>
               <p class="justify">Exit</p>
               <img class="imgl" src="images/imgr.gif" alt="" width="125" height="125">
            </div>
         </div>
      </div>
      <div class="wrapper row3">
         <footer id="footer" class="clear">
            <h1>HomePage</h1>
            <p class="fl_left">NIT JSR</a></p>
         </footer>
      </div>
   </body>
</html>
